<header>
    <style>
        .header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      background-color: #f1f1f1;
    }
    </style>
    <div class="header">
        
        <a href = "/">
            <img src="https://www.mietjmu.in/crie/images/mietkalogo.png" alt="Miet Logo" >
        </a>
    </div>
  </header>
  