<form action="/hello" method="POST" >
    <h3>Sign In</h3>

   

    <label for="RollNo" style="margin-top:140px  ;">Enter your Roll Number</label>
    <input name="roll" placeholder="Your Roll Number" id="RollNo" required>

    <button style="margin-top:180px  ;">Submit</button>
    
</form>